@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/*
Paleta de cores

.background-of-abstract-glitter-lights.-blue,-gold-and-black.-de-focused.-banner-1-hex { color: #0D1A26; }
.background-of-abstract-glitter-lights.-blue,-gold-and-black.-de-focused.-banner-2-hex { color: #184059; }
.background-of-abstract-glitter-lights.-blue,-gold-and-black.-de-focused.-banner-3-hex { color: #265D73; }
.background-of-abstract-glitter-lights.-blue,-gold-and-black.-de-focused.-banner-4-hex { color: #CFD984; }
.background-of-abstract-glitter-lights.-blue,-gold-and-black.-de-focused.-banner-5-hex { color: #F2EAC2; }

*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,#0D1A26, #184059, #265D73, #0D1A26);
    background-repeat: no-repeat;
    background-size: 100% 900%;    
    animation: degrade 4s infinite alternate;
    width: 100vw;
    height: 100vh;
}

@keyframes degrade {
    0% {
        background-position-y: 0%;
    }
    100%{
        background-position-y: 100%;
    }
}

.title {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
    border: 3px solid #F2EAC2;
    margin-bottom: 60px;
}

.title h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: #F2EAC2;

}

.conteudo {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.data {
    display: flex ;
    justify-content: center;
    align-items: flex-end;
    width: 98%;
    height: 100px;
    padding-bottom: 8px;
}

.data h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #F2EAC2;
}

.versiculo {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 500px;
    margin-bottom: 2px;
    background-color: #cfd9841c;
    border-radius: 8px;
    box-shadow: 5px 5px 15px;
    
}

.versiculo p {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 28px;
    color: #F2EAC2;
    text-align: center;

}