@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office&display=swap');
/*font-family: 'Ysabeau Office', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*font-family: 'Dancing Script', cursive;*/

/*
Paletas de cores
/* Color Theme Swatches in Hex */
.Crevasse-1-hex { color: #B4BEC9; }
.Crevasse-2-hex { color: #159A9C; }
.Crevasse-3-hex { color: #002333; }
.Crevasse-4-hex { color: #DEEFE7; }
.Crevasse-5-hex { color: #FFFFFF; }


* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #FFFFFF;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

header {
    width: 100%;
    height: 60px;
    background-color: #002333;
    border-radius: 0px 50px 50px 0px;
    margin-top: 5px;

}

h1 {
    font-family: 'Ysabeau Office', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    

}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.anos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
}

.anos > h2 {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 30px;
    text-align: center;

}

.anos > h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    text-align: center;

}

.polaroids {
    width: 49%;
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #159A9C;
    border-radius: 10px 0px 10px 0px ;

}

.polaroid {
    width: 80%;
    height: 30%;
    background-color: #FFFFFF;
    padding: 8px 8px 35px 8px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px 2px 2px 2px ;

}

img {
    width: 100%;
    height: 100%;
}

